# Successful Movies
---

## Project 3 - Part 2 Extract from TMDB (Core)

## API Calls

* ### ***What Makes a Movie Successful?***

* ### Ingrid Arbieto Nelson

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Successful-Movies" data-toc-modified-id="Successful-Movies-1">Successful Movies</a></span><ul class="toc-item"><li><span><a href="#Project-3---Part-2-Extract-from-TMDB-(Core)" data-toc-modified-id="Project-3---Part-2-Extract-from-TMDB-(Core)-1.1">Project 3 - Part 2 Extract from TMDB (Core)</a></span><ul class="toc-item"><li><span><a href="#What-Makes-a-Movie-Successful?" data-toc-modified-id="What-Makes-a-Movie-Successful?-1.1.1"><strong><em>What Makes a Movie Successful?</em></strong></a></span></li><li><span><a href="#Ingrid-Arbieto-Nelson" data-toc-modified-id="Ingrid-Arbieto-Nelson-1.1.2">Ingrid Arbieto Nelson</a></span></li></ul></li><li><span><a href="#Business-Problem" data-toc-modified-id="Business-Problem-1.2">Business Problem</a></span><ul class="toc-item"><li><span><a href="#Your-Stakeholder-Wants-More-Data!" data-toc-modified-id="Your-Stakeholder-Wants-More-Data!-1.2.1">Your Stakeholder Wants More Data!</a></span></li><li><span><a href="#Data-Source" data-toc-modified-id="Data-Source-1.2.2">Data Source</a></span></li><li><span><a href="#Specifications---Financial-Data" data-toc-modified-id="Specifications---Financial-Data-1.2.3">Specifications - Financial Data</a></span></li><li><span><a href="#Confirm-Your-API-Function-works." data-toc-modified-id="Confirm-Your-API-Function-works.-1.2.4">Confirm Your API Function works.</a></span></li><li><span><a href="#Exploratory-Data-Analysis" data-toc-modified-id="Exploratory-Data-Analysis-1.2.5">Exploratory Data Analysis</a></span></li><li><span><a href="#Deliverables" data-toc-modified-id="Deliverables-1.2.6">Deliverables</a></span></li></ul></li><li><span><a href="#API-Call-Code-Section" data-toc-modified-id="API-Call-Code-Section-1.3">API Call Code Section</a></span><ul class="toc-item"><li><span><a href="#Imports" data-toc-modified-id="Imports-1.3.1">Imports</a></span></li><li><span><a href="#Using-Your-TMDB-API-Credentials" data-toc-modified-id="Using-Your-TMDB-API-Credentials-1.3.2">Using Your TMDB API Credentials</a></span></li><li><span><a href="#Get-Movie-Rating-Function" data-toc-modified-id="Get-Movie-Rating-Function-1.3.3">Get Movie Rating Function</a></span></li><li><span><a href="#Write-JSON-function" data-toc-modified-id="Write-JSON-function-1.3.4">Write JSON function</a></span></li><li><span><a href="#Test-for-Movies" data-toc-modified-id="Test-for-Movies-1.3.5">Test for Movies</a></span></li><li><span><a href="#Folder-&amp;-Year-Setup" data-toc-modified-id="Folder-&amp;-Year-Setup-1.3.6">Folder &amp; Year Setup</a></span></li><li><span><a href="#For-Loop-Code" data-toc-modified-id="For-Loop-Code-1.3.7">For Loop Code</a></span></li></ul></li></ul></li></ul></div>

## Business Problem
> *For this project, you have been hired to produce a MySQL database on Movies from a subset of IMDB's publicly available dataset. Ultimately, you will use this database to analyze what makes a movie successful, and will provide recommendations to the stakeholder on how to make a successful movie.*

Over the course of this project, you will:

* **Part 1**: Download several files from IMDB’s movie data set and filter out the subset of moves requested by the stakeholder.
* **Part 2**: Use an API to extract box office revenue and profit data to add to your IMDB data and perform exploratory data analysis.
* **Part 3**: Construct and export a MySQL database using your data.
* **Part 4**: Apply hypothesis testing to explore what makes a movie successful.
* **Part 5** (Optional): Produce a Linear Regression model to predict movie performance.

<img src ="Images/theater.png">

### Your Stakeholder Wants More Data!
* After investigating the preview of your data from Part 1, your stakeholder realized that there is no financial information included in the IMDB data (e.g. budget or revenue).

* This will be a major roadblock when attempting to analyze which movies are successful and must be addressed before you will be able to determine which movies are successful.

### Data Source 

<img src = "Images/blue_long_1-8ba2ac31f354005783fab473602c34c3f4fd207150182061e425d366e4f34596.svg">

* **TMDB** Provides Several Files with varied information for Movies, TV Shows, Made for TV Movies, etc.

* Your stakeholder identified **[The Movie Database (TMDB)](https://www.themoviedb.org/)** as a great source of financial data . Thankfully, TMDB offers a free API for programmatic access to their data!

* **Your stakeholder wants you to extract the budget, revenue, and MPAA Rating (G/PG/PG-13/R), which is also called "Certification".**

* **Note: this process can take a long time and may need to run overnight.**

### Specifications - Financial Data
* Your stakeholder would like you to extract and save the results for movies that meet all of the criteria established in part 1 of the project *(You should already have a filtered dataframe saved from part one as a csv.gz file)*

* As a proof-of-concept, they requested you perform a test extraction of movies that started in ***2000 or 2001***

* Each year should be saved as a separate .csv.gz file

**Hint: Use the two custom functions from the lessons** ***(Intro to TMDB API, and Efficient TMDB API Calls).*** **Be sure to define these functions prior to calling them in your code!**

* One function will add the certification (MPGG Rating) to movie.info
* The other function will help you append/extend a JSON file with Python

### Confirm Your API Function works.

* In order to ensure your function for extracting movie data from TMDB is working, test your function on these 2 movie ids:
   * tt0848228 ("The Avengers")
   * tt0332280 ("The Notebook").
* Make sure that your function runs without error and that it returns the correct movie's data for both test ids.

**Hint: Ideally you can organize the code segments from the previous lesson to create an outer and inner loop, but if you get stuck, you can complete 1 year at a time.**

* Once you have retrieved and saved the final results to 2 separate .csv.gz files, move on to a new Exploratory Data Analysis notebook to explore the following questions.

### Exploratory Data Analysis
* See EDA notebook.

### Deliverables
After you have joined the tmdb results into 1 dataframe in the EDA Notebook,

* Save a final merged .csv.gz of all of the tmdb api data *(The file name should be "tmdb_results_combined.csv.gz"*
* Make sure this is pushed to your github repository along with all of your code
  * One code file for API calls
  * One code file for EDA
* Submit the link

## API Call Code Section

### Imports

In [1]:
# Install tmdbsimple (only need to run once)
!pip install tmdbsimple

Requirement already satisfied: tmdbsimple in c:\users\sweet\anaconda3\envs\dojo-env\lib\site-packages (2.9.1)
Requirement already satisfied: requests in c:\users\sweet\anaconda3\envs\dojo-env\lib\site-packages (from tmdbsimple) (2.28.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sweet\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sweet\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (3.4)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\sweet\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\sweet\anaconda3\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (1.26.13)

In [8]:
import pandas as pd

import os, time, json
import tmdbsimple as tmdb
from tqdm.notebook import tqdm_notebook

### Using Your TMDB API Credentials

In [3]:
with open('/Users/sweet/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
## Display the keys of the loaded dict
login.keys()

dict_keys(['api-key'])

In [4]:
# set tmdb API key
tmdb.API_KEY =  login['api-key']

### Get Movie Rating Function

In [5]:
def get_movie_with_rating(movie_id):
   """Adapted from source = https://github.com/celiao/tmdbsimple"""
   # Get the movie object for the current id
   movie = tmdb.Movies(movie_id)

   # save the .info .releases dictionaries
   info = movie.info()

   releases = movie.releases()
   # Loop through countries in releases
   for c in releases['countries']:
        # if the country abbreviation == US
        if c['iso_3166_1'] == 'US':
           # save a "certification" key in info with the certification
           info['certification'] = c['certification']
    
   return info

### Write JSON function

In [10]:
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

### Test for Movies

#### *See if function works for movies:*
*  **The Avengers** tt0848228 
* **The Notebook** tt0332280

In [6]:
## testing our function by looping through a list of ids
import pandas as pd
test_ids = ["tt0848228", "tt0332280"]
results = []
errors = []
for movie_id in test_ids:
    
    try:
        movie_info = get_movie_with_rating(movie_id)
        results.append(movie_info)
        
    except Exception as e: 
        errors.append([movie_id, e])
    
pd.DataFrame(results)

,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,"{'id': 86311, 'name': 'The Avengers Collection...",220000000,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",https://www.marvel.com/movies/the-avengers,24428,tt0848228,en,The Avengers,...,1518815515,143,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Some assembly required.,The Avengers,False,7.707,28532,PG-13
1,False,/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg,None,29000000,"[{'id': 10749, 'name': 'Romance'}, {'id': 18, ...",http://www.newline.com/properties/notebookthe....,11036,tt0332280,en,The Notebook,...,115603229,123,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Behind every great love is a great story.,The Notebook,False,7.878,10298,PG-13

In [7]:
print(f"- Number of errors: {len(errors)}")
errors

- Number of errors: 0

[]

### Folder & Year Setup

* Setup Folder to store movie data
* Specify Years to retrieve movie data from

In [9]:
# files in Data folder
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['.ipynb_checkpoints',
 'title_akas.csv.gz',
 'title_basics.csv.gz',
 'title_ratings.csv.gz']

In [11]:
# specify years to get movie data
YEARS_TO_GET = [2000,2001]

In [12]:
# load basics dataframe
basics = pd.read_csv("Data/title_basics.csv.gz", low_memory = False)
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005.0,100,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002.0,126,Drama

### For Loop Code

In [14]:
# Start of OUTER loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS', position=0):
    #Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    
    # Check if file exists
    file_exists = os.path.isfile(JSON_FILE)
    
    # If it does not exist: create it
    if file_exists == False:
      # save an empty dict with just "imdb_id" to the new json file.
      with open(JSON_FILE,'w') as f:
         json.dump([{'imdb_id':0}],f)
    
    #Saving new year as the current df
    df = basics.loc[ basics['startYear']==YEAR].copy()
    
    # saving movie ids to list
    movie_ids = df['tconst'].copy()
    movie_ids
    
    # Load existing data from json into a dataframe called "previous_df"
    previous_df = pd.read_json(JSON_FILE)
    previous_df
    
    # filter out any ids that are already in the JSON_FILE
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]
    
    #Get index and movie id from list
    # INNER Loop
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {YEAR}',
                                  position=1,
                                  leave=True):
        try:
            # Retrieve then data for the movie id
            temp = get_movie_with_rating(movie_id)  
            # Append/extend results to existing file using a pre-made function
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)
            
        except Exception as e:
            errors.append([movie_id, e])
            
    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

Movies from 2000:   0%|          | 0/1444 [00:00<?, ?it/s]

Movies from 2001:   0%|          | 0/1568 [00:00<?, ?it/s]